body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  position: relative;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
}
.affix ~ .container-fluid{
  position: relative;
  top: 50px;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
}
p {font-size: 16px;}
.margin {
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer{
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 0px;
}
.bg-1 {
  background-color: #4484CE; /* Cerulean */
  color: #ffffff;
}
.bg-2 {
  background-color: #D9D9D9; /* Aluminium */
  color: #2f2f2f;
}
.bg-3 {
  background-color: #F9CF00; /* Light */
  color: #FFF;
}
.bg-4 {
  background-color: #2f2f2f; /* Dark Grey */
  color: #fff;
}
.bg-5 {
  background-color: #F19F4D; /* Tangerine */
  color: #fff;
}
.btn {
}
.social-link{
  fill: #000;
  height: 64px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar-elements{
  padding: 8px 8px 8px 8px;
}
.navbar {
  padding: 20px 20px 20px 20px;
  border: 0;
  border-radius: 0;
  margin-top: 10px; 
  margin-bottom: 0px;
  font-size: 12px;
  letter-spacing: 5px;
  min-height:28px;
}
.navbar-nav  li a:hover {
  color: #1abc9c;
  height: 28px;
}
.small-block {
  background-color: #ffffff;
  color: #555555;
}
.row {}
.projects {
  padding: 20px;
}
.top-image{
  margin-top: 100px;
}
a:link, a:visited {
  color: #474e5d;
  /*padding: 14px 25px;*/
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  color: #4484CE;
  font-weight: 400;
  text-decoration: none;
}
strong{
  color: #FFF;
}
#myNavbar{
  font-size: 16px;
}