body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  position: relative;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999;
}
.affix ~ .container-fluid{
  position: relative;
  top: 50px;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
}
p {font-size: 16px;}
.margin {
  margin-top: 16px;
  margin-bottom: 16px;
}
.footer{
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 0px;
}
.bg-1 {
  /* Blue */
  background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff , #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
}
.bg-2 {
  /* Aluminium */
  background-color: #D9D9D9;
  color: #2f2f2f;
}
.bg-3 {
  /* Light */
  background: #ECE9E6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
}
.bg-4 {
  /* Dark Grey */
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.bg-5 {
  /* Tangerine */
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.btn {
}
.social-link{
  fill: #000;
  height: 64px;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar-elements{
  padding: 8px 8px 8px 8px;
}
.navbar {
  padding: 20px 20px 20px 20px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0px;
  font-size: 12px;
  letter-spacing: 5px;
  min-height: 28px;
}
.navbar-nav  li a:hover {
  color: #1abc9c;
  height: 28px;
}
.small-block {
  background-color: #ffffff;
  color: #555555;
}
.row {}
.projects {
  padding: 20px;
}
.top-image{
  margin-top: 100px;
}
a:link, a:visited {
  color: #474e5d;
  /*padding: 14px 25px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  color: #4484CE;
  font-weight: 400;
  text-decoration: none;
}
strong{
  color: #FFF;
}
#myNavbar{
  font-size: 16px;
}
